{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}
{% import "Ceres::Widgets.Helper.WidgetHelper" as WidgetHelper %}

{% set uid = uid() %}

{% set customClass = widget.settings.customClass.mobile %}
{% set spacingSettings = widget.settings.spacing %}
{% set inlineSpacings = WidgetHelper.getInlineSpacings(spacingSettings, spacingSettings.customPadding.mobile, spacingSettings.customMargin.mobile) %}
{% set spacingClasses = WidgetHelper.getSpacingClasses(spacingSettings, spacingSettings.customPadding.mobile, spacingSettings.customMargin.mobile) %}

{% set isFixed              = widget.settings.isFixed.mobile %}
{% set navigationStyle      = widget.settings.navigationStyle.mobile %}
{% set companyLogoUrl       = widget.settings.companyLogoUrl.mobile %}
{% set fallbackImagePath    = widget.settings.fallbackImagePath.mobile %}
{% set limitRootItems       = widget.settings.limitRootItems.mobile %}
{% set megaMenuLevels       = widget.settings.megaMenuLevels.mobile | default(2) %}
{% set megaMenuMaxItems1    = widget.settings.megaMenuMaxItems.stage1.mobile | default(30) %}
{% set megaMenuMaxItems2    = widget.settings.megaMenuMaxItems.stage2.mobile | default(3) %}
{% set megaMenuMaxItems3    = widget.settings.megaMenuMaxItems.stage3.mobile | default(2) %}
{% set megaMenuMaxItems     = { "1": megaMenuMaxItems1, "2": megaMenuMaxItems2, "3": megaMenuMaxItems3 } %}
{% set maxRootItems         = widget.settings.maxRootItems.mobile %}
{% set logoSubTitle         = widget.settings.logoSubTitle.mobile %}

{% set realMaxRootItems = 100 %}
{% if limitRootItems %}
    {% set realMaxRootItems = maxRootItems %}
{% endif %}

{% if companyLogoUrl is empty %}
    {% set companyLogoUrl = plugin_path('Legend') ~ "/images/logo.png" %}
{% endif %}

{% if fallbackImagePath | trim is empty %}
    {% set fallbackImagePath = companyLogoUrl %}
{% endif %}

{{ Twig.set("logoUrl", companyLogoUrl | json_encode) }}
{{ Twig.print("add_asset(logoUrl,'image')") }}

{{ Twig.import("Tree", "Legend::Category.Macros.CategoryTree") }}

{{ Twig.import("LayoutContainer", "Ceres::PageDesign.Macros.LayoutContainer") }}
{{ Twig.set("currencyData", Twig.call("services.checkout.getCurrencyData") ~ "[currencyFormat]") }}
{{ Twig.set("overrideSearchBar", Twig.call("LayoutContainer.show", ["Ceres::Search.SearchBar"])) }}

<nav class="navbar header-fw p-0 unfixed{% if customClass | length > 0 %} {{ customClass }}{% endif %}">
    <div class="nv-wrap">
        <div class="container-max px-0">
            <div class="row w-100 mx-0 flex-row flex-wrap align-items-center">
                <div class="col-3 d-lg-none">
                    <button v-open-mobile-navigation class="navbar-toggler" type="button">
                        <span class="pl-material pl-outline-dehaze"></span>
                    </button>
                </div>
                <div class="col-4 d-none d-lg-block">
                    test
                </div>
                <div class="col-6 col-md-6 col-lg-4 site-logo text-center">
                    {% if companyLogoUrl | trim | length > 0 %}
                        <a class="navbar-brand" href="{{ Twig.print('urls.home') }}">
                            <picture>
                                <source srcset="{{ companyLogoUrl }}"{% if companyLogoUrl matches '/.?(\\.webp)(?:$|\\?)/' %} type="image/webp"{% endif %}>
                                <img
                                    class="img-fluid"
                                    src="{{ fallbackImagePath }}"
                                    alt="{{ Twig.print('trans("Ceres::Template.headerCompanyName")') }}"
                                />
                            </picture>
                            {% if logoSubTitle | length > 0 %}
                                <span class="logo-sub-title">
                                    {{ logoSubTitle }}
                                </span>
                            {% endif %}
                        </a>
                    {% endif %}
                </div>
                <div class="col-3 col-md-3 col-lg-4 d-flex justify-content-end">
                    <div class="search-div" id="searchDiv">
                        <a class="nav-link"
                            {{ WidgetHelper.makeClickable(isPreview) }}
                            data-toggle="collapse"
                            href="#searchBox"
                            aria-expanded="false"
                            aria-controls="searchBox"
                            data-testing="searchbox-select"
                            aria-label="{{ Twig.print('trans("Ceres::Template.headerSearch")') }}"
                            @mouseover.once="$store.dispatch('loadComponent', 'item-search')">
                            <div class="header-icon-item">
                                <span class="hii-icon pl-material pl-baseline-search"></span>
                                <span class="hii-text">{{ Twig.print('trans("Ceres::Template.headerSearch")') }}</span>
                            </div>
                        </a>
                    </div>
                    {{ Twig.if("services.url.isRouteEnabled(\"wish-list\")") }}
                        <div class="wish-list-div">
                            <lazy-hydrate when-idle>
                                <wish-list-count>
                                    <a class="nav-link" aria-label="{{ Twig.print('trans("Ceres::Template.wishList")') }}">
                                        <div class="header-icon-item">
                                            <span class="hii-icon pl-material pl-outline-favorite_border"></span>
                                            <span class="hii-text">{{ Twig.print('trans("Ceres::Template.wishList")') }}</span>
                                        </div>
                                    </a>
                                </wish-list-count>
                            </lazy-hydrate>
                        </div>
                    {{ Twig.endif() }}
                    <div class="basket-div" @mouseover.once="$store.dispatch('loadComponent', 'basket-preview')">
                        <a v-toggle-basket-preview href="#" class="toggle-basket-preview nav-link text-right">
                            <div class="header-icon-item">
                                <span class="hii-icon pl-material pl-outline-shopping_cart"></span>
                                <span class="hii-text">{{ Twig.print('trans("Legend::Template.headerCart1")') }}</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-max px-0 px-lg-3">
        <div class="searchCol position-relative w-100">
            <div id="searchBox" class="cmp cmp-search-box collapse{% if isPreview %} position-relative{% endif %}">
                {{ Twig.if("overrideSearchBar | trim is empty") }}
                    {% if not isPreview %}<lazy-load component="item-search">{% endif %}
                        <item-search>
                            {% if isPreview or children is defined and children.suggestions | trim is not empty %}
                                <template #autocomplete-suggestions>
                                    <div class="autocomplete-suggestions shadow bg-white w-100{% if isPreview %} position-relative mh-100{% endif %}"
                                        {% if isPreview %} data-builder-child-container="suggestions"{% endif %}>
                                        {{ children.suggestions | raw }}
                                    </div>
                                </template>
                            {% endif %}
                        </item-search>
                    {% if not isPreview %}</lazy-load>{% endif %}
                {{ Twig.else() }}
                    {{ Twig.print("overrideSearchBar | raw") }}
                {{ Twig.endif() }}
            </div>
        </div>
    </div>

    <div class="container-max position-relative basket-preview-header-wrap">
        <basket-preview v-if="$store.state.lazyComponent.components['basket-preview']" :show-net-prices="{{ Twig.print("showNetPrices | json_encode") }}">
            <template #before-basket-item>
                {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::BasketList.BeforeItem"])) }}
            </template>
            <template #after-basket-item>
                {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::BasketList.AfterItem"])) }}
            </template>
            <template #before-basket-totals>
                {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::BasketPreview.BeforeBasketTotals"])) }}
            </template>
            <template #before-item-sum>
                {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::BasketTotals.BeforeItemSum"])) }}
            </template>
            <template #after-item-sum>
                {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::BasketTotals.AfterItemSum"])) }}
            </template>
            <template #before-shipping-costs>
                {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::BasketTotals.BeforeShippingCosts"])) }}
            </template>
            <template #after-shipping-costs>
                {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::BasketTotals.AfterShippingCosts"])) }}
            </template>
            <template #before-total-sum>
                {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::BasketTotals.BeforeTotalSum"])) }}
            </template>
            <template #before-vat>
                {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::BasketTotals.BeforeVat"])) }}
            </template>
            <template #after-vat>
                {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::BasketTotals.AfterVat"])) }}
            </template>
            <template #after-total-sum>
                {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::BasketTotals.AfterTotalSum"])) }}
            </template>
            <template #after-basket-totals>
                {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::BasketPreview.AfterBasketTotals"])) }}
            </template>
            <template #before-checkout-button>
                {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::BasketPreview.BeforeCheckoutButton"])) }}
            </template>
            <template #after-checkout-button>
                {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::BasketPreview.AfterCheckoutButton"])) }}
            </template>
        </basket-preview>
    </div>
</nav>
<div class="navbar-menu header-fw p-0{% if not isFixed %} unfixed{% endif %}">
    <div id="mainTopMenuWrapper" class="d-none d-lg-block">
        <div class="container-max">
            <div class="main-navbar-collapsable{% if navigationStyle == 'megaMenu' %} megamenu{% else %} normalmenu{%endif%}">
                <ul class="mainmenu p-0 m-0 d-flex">
                    {{ Twig.print(Twig.call("Tree.get_nav_bar", [Twig.var("categories"), "", megaMenuLevels, megaMenuMaxItems, realMaxRootItems])) }}
                </ul>
            </div>
        </div>
    </div>
</div>