{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}

{% set customClass = widget.settings.customClass.mobile %}
{% set listEntries = widget.settings.entries.mobile %}

{% set hasEntries    = false %}
{% for entry in listEntries if entry.text is not empty %}
    {% set hasEntries = true %}
{% endfor %}

{{ Twig.import("LayoutContainer", "Ceres::PageDesign.Macros.LayoutContainer") }}

<div class="top-bar header-fw unfixed{% if customClass | length > 0 %} {{ customClass }}{% endif %}">
    <div class="container-max px-0 pr-lg-3">
        <div class="row mx-0 flex-row-reverse position-relative">
            {% if isPreview and not
                hasEntries
            %}
                <div class="widget-placeholder p-0 w-100 text-dark">
                    <div>
                        <p class="title">{{ Twig.trans("Ceres::Widget.topBarPlaceholderTitle") }}</p>
                        <p class="description">{{ Twig.trans("Ceres::Widget.topBarPlaceholderDescription") }}</p>
                    </div>
                </div>
            {% endif %}
            <div class="top-bar-items col-12 d-flex align-items-center">
                {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::Header.LeftSide"])) }}

                {% if listEntries | length > 0 %}
                    <ul class="list-unstyled{% if centered %} list-centered{% endif %}">
                        {% for entry in listEntries %}
                            <li>
                                {% if entry.text is not empty %}
                                    <span>{{ entry.text }}</span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
